    body {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 16px;
      background-color: #151515;
      color: white;

      max-width: 40vw;
      /*Centrar el contenido */
      margin: 1rem auto;
      padding: 0 1rem;

      margin-top: 3vw;
      align-items: center;
    }


    h1 {
      font-family: "Staatliches", sans-serif;
      font-size: clamp(3rem, 5vw, 8rem);
      text-align: center;

      line-height: 0.8;
      color: #00e5ff;

      margin-top: 1em;
      margin-bottom: 0;
    }

    h2 {
      font-family: "Staatliches", sans-serif;
      font-size: clamp(4rem, 3vw, 6rem);
      text-align: center;
      color: #00e5ff;

      line-height: 0.8;
      margin-bottom: clamp(6rem, 4vw, 10rem);
      margin-top: 0;
    }

    p{
      margin: 1em 0;
      margin-top: clamp(3rem, 3vw, 6rem);
      font-size: clamp(1.5rem, 1.3vw, 2rem);
      line-height: 1.5;
    }

    u {
      text-decoration: underline;
      text-underline-offset: 7px;
      text-decoration-thickness: 3px;
    }

    img {
      display: block;
      max-width: 80%;
      margin: 1rem auto;
      margin-top: -2rem;
    }

    ::selection {
      background-color: #A2FAA3;
    }

    @media (max-width: 600px) {
      body {
        max-width: 90vw;
      }
    }
