/* PALETA */

/* color: #FF4FDD;
      color: #00E5FF;
      color: #F40600;
      color: #FFC857;
      color: #CCFF66;
      color: #5D2E8C; */

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

button {
  background: linear-gradient(90deg, #00E5FF, #FF4FDD);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 1rem;
  margin-bottom: 2em;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(0, 234, 255, 0.7), 0 0 15px rgba(255, 0, 255, 0.7);
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #252422;
  margin: 0;
  padding: 0;
  background-color: rgb(251, 252, 255);
}

.banner {
  background-color: #151515;
  width: 100%;
  margin-top: 0;

  padding-top: 5rem;
  padding-bottom: 8rem;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;

  padding: 1em;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;

  background: rgb(21, 21, 21, 0.4);
  backdrop-filter: blur(5px);              /* desenfoque del fondo */
  -webkit-backdrop-filter: blur(5px);      /* compatibilidad Safari */
  
  border-bottom-right-radius: 40px;

}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 1rem;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:hover {
  font-style: italic;
}

/* Ocultar checkbox */
#menu-toggle {
  display: none;
}

.burger {
  display: none;
}

#sobre-mi,
#que-hago, #mail-form {
  scroll-margin-top: 5rem; /* que el menú deje un poco de aire cuando te lleva a algún lado */
}

.hero {
  display: flex;
  align-items: center;
  /* Centra verticalmente */
  gap: 1rem;
  /* Espacio entre columnas */

  max-width: 65vw;
  margin: 1rem auto;
  padding: 0 1rem;
  margin-top: 0;

  flex-wrap: wrap;
  overflow-x: hidden;
}

.heroM {
  display: none;
  align-items: center;
  /* Centra verticalmente */

  max-width: 90vw;
  margin: 1rem auto;
  padding: 0 1rem;
  margin-top: 0;

  line-height: 1.5;
}

.hero-image {
  flex: 1;
  /* parte más pequeña */
}

.hero-text {
  flex: 2;
  /* parte más grande */

  /* Evitar que se desborde */
  box-sizing: border-box;
  overflow-x: hidden;
  min-width: 0;
}

.hero-image img {
  width: 100%;
  height: auto;
  display: block;
  min-width: 350px;
}

.heroM-image img {
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cuerpo {
  max-width: 36vw;
  /*Centrar el contenido */
  margin: 1rem auto;
  padding: 0 1rem;
  padding-bottom: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

h2 {
  color: #FF4FDD;
  font-weight: 500;
  font-size: clamp(1.4rem, 1.7vw, 3rem);
  line-height: 1.2;
}

h1 {
  font-family: "Staatliches", sans-serif;
  font-size: clamp(2.5em, 3.5vw, 7em);
  margin-bottom: 0;
  line-height: 1.2;
  color: #00E5FF;
  font-weight: 500;  /* 500 porque si no Safari lo ponía mega gordo */
  padding: 1rem;
}

p {
  margin: 1em 0;
  font-size: clamp(1.3rem, 1.3vw, 1.5rem);
  margin-bottom: clamp(3rem, 5vw, 10rem);
  line-height: 1.7;
}

.pcallout {
  font-size: clamp(1.3rem, 1.3vw, 1.5rem);
  margin-bottom: clamp(3rem, 4.5vw, 7rem);
}

.firma {
  font-family: "Sedgwick Ave Display", cursive;
  color: #00E5FF;
  font-size: clamp(5rem, 6vw, 10rem);
  margin-top: 2rem;
  margin-bottom: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

del {
  text-decoration: line-through;
}

ul {
  padding-left: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  font-size: clamp(1.3rem, 1.3vw, 1.5rem);
  margin-bottom: 0.5em;
  padding-bottom: clamp(2rem, 1.5vw, 4rem);
  line-height: 1.7;
}

u {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.15em;
  text-decoration-skip-ink: none;
}

a {
  color: #00E5FF;
}

a:hover {
  color: #A2FAA3;
  transition: all 0.1s ease;
}


.callout-azul,
.callout-verde,
.callout-rosa {
  /* hacerlo más ancho que el padre */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 38vw;

  margin: 1rem auto;
  /* centrado horizontal */
  padding: 1em;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: clamp(2rem, 5vw, 4rem);
}

.callout-azul {
  border: 2px solid #00E5FF;
  box-shadow: 0 0 20px #00E5FF;
}

.callout-rosa {
  border: 2px solid #FF4FDD;
  box-shadow: 0 0 20px #FF4FDD;
  padding-bottom: 2em;
  padding-top: 2em;
}

.callout-verde {
  padding-top: 1rem;
  margin-top: 0;
  border: 3px dashed #A2FAA3;
}

.subr {
  background-color: #00E5FF;
}

.subrMedio {
  display: inline;
  background: linear-gradient(to bottom, transparent 70%, #F40600 70%);
}

::selection {
  background-color: #A2FAA3;
}

@media (max-width: 1000px) {
  .banner {
    padding-bottom: 0;
    padding-top: 2.5rem;
    /* para que no tape el menú los títulos */
  }

  .cuerpo {
    max-width: 95vw;
    margin: 1rem auto;
    padding: 0 1rem;
    margin-top: 0;
  }

  .hero {
    display: none;
    /* oculto en móviles */
  }

  .heroM {
    display: block;
    /* visible en móviles */
  }

  h1 {
    padding: 0;
    margin: 0;
  }

  p {
    margin-bottom: clamp(5rem, 7vw, 10rem);
  }

  .callout-azul,
  .callout-verde,
  .callout-rosa {
    /* hacerlo más ancho que el padre */
    position: relative;
    left: 0;
    transform: translateX(0);
    width: 100%;

    /* Evitar que se desborde */
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .pcallout {
    margin-bottom: 3rem;
  }

  .callout-azul {
    border: 1px solid #00E5FF;
    box-shadow: 0 0 10px #00E5FF;
  }

  .callout-rosa {
    border: 1px solid #FF4FDD;
    box-shadow: 0 0 10px #FF4FDD;
    padding-top: 1em;
  }

 .menu{
    position: fixed; top:0; right:0;
    left:auto; width:auto;
    background:none; backdrop-filter:none;
    display:block;
  }


  .burger{
    display:block;
    position: fixed;
    right: 0;
    top: 0;
    padding:.7rem .9rem;

    font-size: 1.5rem;
    color:#fff; cursor:pointer;
    background: rgba(21,21,21,.45);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    border-bottom-left-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,.35);
  }

  .links{
    position:fixed;         
    top: 3.3rem;      
    right: 0;
    display:none;
    flex-direction:column;
    padding: 1rem;
    margin-right: 0;
    gap: 1rem;
    background: rgba(21,21,21,.45);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-bottom-left-radius:20px;
    border-top-left-radius:20px;
    box-shadow:0 12px 28px rgba(0,0,0,.25);
  }

  .links a{
    color:#fff;
    text-decoration:none;
    font-size:1.15rem;
  }

  .links a:hover{
    color:#A2FAA3;
  }

  #menu-toggle{ display:none; }
  #menu-toggle:checked + .burger + .links{ display:flex; }

  /* Mostrar al marcar */
  #menu-toggle:checked + .burger + .links {
    display: flex;
  }

  #sobre-mi,
  #que-hago, #mail-form {
  scroll-margin-top: 3.5rem; /* que el menú deje un poco de aire cuando te lleva a algún lado */
}

}